@*
   
*@
@{
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">About Us</h1>
        <br />
        <p class="lead">The Elyria Schools Friends & Alumni Association was founded in 1998, and is a Board managed not-for-profit organization 501(c)(3). The Association fosters and supports relationships between alumni and Elyria Schools by:</p>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Our Mission</h5>
                </div>
                <div class="card-body">
                    <p>Encouraging a spirit of pride, unity, loyalty, and collaboration among the alumni of Elyria High School and Elyria West High School.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Our Vision</h5>
                </div>
                <div class="card-body">
                    <p>Enhancing and preserving the tradition of excellence of the Elyria Schools, and alumni.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Our Values</h5>
                </div>
                <div class="card-body">
                    <p>
                        Promoting, publicizing, and assisting in alumni activities and programs. Supporting the vital mission of the Elyria Schools through college scholarships to deserving graduates.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="row">
            <div class="col-md-6 text-center align-middle">
                <h2>Contact Us</h2>
                <p>PO Box 63</p>
                <p>Elyria, OH 44036</p>
                <p>Email: XY123Z@gmail.com</p>
            </div>
            <div class="col-md-6">
                <img src="/images/Desks.png" class="img-fluid" alt="Team Photo">
            </div>
        </div>
    </div>
</div>

