@{
    ViewData["Title"] = "Home Page";
}

<body>

    <main>

        <div class="px-4 pt-5 my-5 text-center border-bottom">
            <h1 class="display-4 fw-bold">About Us</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">
                    The Elyria Schools Friends &amp; Alumni Association was founded in 1998, and is a Board managed not-for-profit organization 501(c)(3). The Association fosters and supports relationships between alumni and Elyria Schools by:
                </p>
                <ul>
                    <li>
                        Encouraging a spirit of pride, unity, loyalty, and collaboration among the alumni of Elyria High School and Elyria West High School.
                    </li>
                    <li>
                        Enhancing and preserving the tradition of excellence of the Elyria Schools, and alumni.
                    </li>
                    <li>
                        Promoting, publicizing, and assisting in alumni activities and programs.
                    </li>
                    <li>
                        Supporting the vital mission of the Elyria Schools through college scholarships to deserving graduates.
                    </li>
                </ul>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                    <a asp-area="" asp-controller="Alumni" asp-action="Create" class="btn btn-danger">Sign Up Today!</a>
                </div>
            </div>
            <div class="overflow-hidden" style="max-height: 30vh;">
                <div class="container px-5">
                    <img src="/images/alex-simpson-8DaRtnotCoQ-unsplash.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" id="big-pic" alt="School Image" loading="lazy">
                </div>
            </div>
        </div>
        <br />
        <div class="b-example-divider"></div>
       
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="testimonial text-center">
                            <div class="avatar mx-auto">
                                <img src="~/images/computer.jpeg" class="rounded-circle img-fluid" alt="Testimonial avatar">
                            </div>
                            <h4 class="mt-4 mb-3">New Capabilities to Keep Connected</h4>
                            <p class="mb-0">We are moving forward! This site and other changes signal our intent to support greater interaction through updated capabilities.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="testimonial text-center">
                            <div class="avatar mx-auto">
                                <img src="~/images/students1.jpeg" class="rounded-circle img-fluid" alt="Testimonial avatar">
                            </div>
                            <h4 class="mt-4 mb-3">Circling the Globe</h4>
                            <p class="mb-0">There have been over 50,000 (?) graduates of Elyria and Elyria West High Schools. Our graduates encircle the globe.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="testimonial text-center">
                            <div class="avatar mx-auto">
                                <img src="~/images/graduation.jpeg" class="rounded-circle img-fluid" alt="Testimonial avatar">
                            </div>
                            <h4 class="mt-4 mb-3">Recognition and Nomination</h4>
                            <p class="mb-0">
                                Our Distinguished Alumni Nomination and Recognition depends upon your input. Deserving candidates are welcome.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="b-example-divider"></div>
        <br />

        <div class="container my-5">
            <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
                <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                    <h1 class="display-4 fw-bold lh-1">Join Us</h1>
                    <p class="lead">
                        Register with us to receive updates, newsletters, and event notifications. Never miss out on anything happening in the Elyria Alumni community!
                    </p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                        <a asp-area="" asp-controller="Alumni" asp-action="Create" class="btn btn-danger">Join the Community!</a>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                    <img class="rounded-lg-3" src="/images/joshua-hoehne-CAokgx1GGKE-unsplash.jpg" alt="School Lockers" width="720">
                </div>
            </div>
        </div>

    </main>


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>




</body>
